<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <% flash.each do |name, message| %>
      <p><%= message %></p>
      <% end %>
<a href="/signup">Sign Up</a> <br>
     <a href="/client/products/new"> Enter a new product here</a> <br>

    <%= yield %> 
    

    <h6> Thank you for your attention </h6>
  </body>
</html>
